* {
    border: none;
    font-size: 12px;
    font-family: "Switzer" ;
    font-stretch: semi-condensed;
    /* font-family: "JetBrainsMono NF" ; */
    font-weight: 500;
    min-height: 28px;
    color: #cad3f5;
}

window#waybar {
  background: alpha(#1e1e2e, 0.7);
  margin: 5px;
 }

#custom-playericon {
  font-size: 20px;
  margin-right: -2px;
}

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  border-radius: 15px 0 0 15px;
  margin-top: 0px;
  background: transparent;
}

.modules-center {
  padding: 0 15px;
  margin-top: 0px;
  border-radius: 15px 15px 15px 15px;
  background: transparent;
}

.modules-left {
  padding-left: 5px;
  border-radius: 0 15px 15px 0;
  margin-top: 0px;
  background: transparent;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}

#workspaces {
  padding-left: 80px;
  padding-right: 80px;
}

#pulseaudio, #network {
  margin-right: -2px;
}
#custom-notification {
  margin-left: 4px;
  margin-right: 2px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

#mpris {
  font-stretch: condensed
}

#clock{
    margin-right: 5px
}


#battery.charging {
    color: #cad3f5;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #cad3f5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather {
    margin-left: 5px;
}
#custom-weather.severe {
    color: #eba0ac;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
