@define-color text            #cdd6f4;
@define-color background      #1e1e2e;
@define-color background-alt  alpha(#313244, .4);
@define-color selected        #89b4fa;
@define-color hover           alpha(@selected, .4);
@define-color urgent          #f38ba8;

* {

  /*background-alt:        @color1;      Buttons background */
  /*selected:              @color2;      Button selected */
  /*hover:                 @color5;      Hover button */
  /*urgent:                @color6;      Urgency critical */
  /*text-selected:         @background; */

  color: @text;

  /* all: unset; */
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;

}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}
.notification-row .notification-background * {
  background: alpha(@background-alt, .90);
}

.notification-row .notification-background * * {
    background: transparent;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background, .90);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  border: 2px solid @background-alt;
  border-radius: 24px;
  margin: 8px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 0px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: @background-alt ;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @hover;
  border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
  color: @background;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @selected;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @selected;
  color: @background;
}

.notification.critical progress {
  background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
  background-color: @selected;
}

